<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie" lang="zh-TW"> <!--<![endif]-->
<head>
  <title>Pickone - Backend</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <%= stylesheet_link_tag    'admin', media: 'all'%>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <script src="assets/javascripts/ie.min.js"></script>
  <![endif]-->

  <%= Gon::Base.render_data %>
  <%= analytics_init if Rails.env.production? %>
</head>

<body class="theme-asphalt main-menu-animated" cz-shortcut-listen="true">
  <script>var init = [];</script>
  <div id="main-wrapper">
    <%= render partial: "admin/common/header" %>
    <%= render partial: "admin/common/nav" %>

    <div id="content-wrapper">
      <article id="<%= controller_name %>">
        <%= yield %>
      </article>
    </div>
  </div>

  <div id="main-menu-bg"></div>

  <!-- Get jQuery from Google CDN -->
  <!--[if !IE]> -->
    <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
  <!-- <![endif]-->
  <!--[if lte IE 9]>
    <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
  <![endif]-->
  <%= javascript_include_tag 'admin'%>
  <%= render partial: "admin/common/noty" %>
  <%= javascript_tag do %>
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  <% end %>
</body>

</html>
